<div class="container">
  <div class="row no-gutter">
    <div class="col-5">
      <h1>CODING TRAIN CHALLENGE</h1>
      <h2>FLOCKING SIMULATION</h2>
      <h3>or boids algorithm implementation</h3>
    </div>
    <div class="col-7">
      <div id="boids-container"></div>
    </div>
  </div>
</div>