.games {

  .list-group {
    width: 30%;
  }

  #tetris_modal {

    #tetris_canvas,
    #next_tetroid_canvas {
      border: 1px solid black;
    }

    #tetris_canvas:focus,
    #next_tetroid_canvas:focus {
      border: 2px solid #414141;
    }

    .modal-dialog {
      height: 90%;
      max-width: 530px;
      .modal-content {
        height: 100%;
      }
    }
  }

}