<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-lg-3">
      <h1>CODING TRAIN CHALLENGE</h1>
      <h2>SINGLE PENDULUM SIMULATION</h2>
    </div>
    <div class="col-lg-9">
      <div id="single-pendulum-container"></div>
    </div>
  </div>
</div>