<div class="modal fade" id="tetris_modal" tabindex="-1" role="dialog" aria-labelledby="tetris_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tetris_modalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Tetris Exercice (in JS)</h4>
                <div id="score"></div>
                <div class="centered"><canvas id="tetris_canvas" width="240" height="400"></canvas></div>
            </div>
        </div>
    </div>
</div>