<div class="container">
  <div class="row no-gutters justify-content-between tetris_header">
    <div class="col-3 text-center" id="score">
      <div id="score-label">Score:</div>
      <div id="score-value">0</div>
    </div>
    <div class="col-6 text-center">
      <button type="button" class="btn btn-dark" id="game_button">Start</button>
    </div>
    <div class="col-3 text-center" id="line">
      <div id="line-label">Lines:</div>
      <div id="line-value">0</div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col">
      <canvas id="tetris_canvas" width="200" height="320"></canvas>
    </div>
    <div class="col">
      <canvas id="next_tetroid_canvas" width="100" height="100"></canvas>
    </div>
    <span id="game_message"></span>
  </div>
</div>